<div class="widthLarge borders100">
  <table>
    <tr><td colspan="4">&nbsp;</td></tr>

    <tr>
      <th class="width35 verticalAlignment paddingLeft paddingBottom25 txtLeftAlign categoriesItmTxt">{{ $ctrl.name }}</th>
      <th class="width17 verticalAlignment paddingLeft paddingBottom25 txtLeftAlign">Short Name</th>
      <th class="width5 verticalAlignment paddingLeft paddingBottom25 txtLeftAlign">Price</th>
      <th class="width50 verticalAlignment paddingLeft paddingBottom25 txtLeftAlign">Description</th>
    </tr>
  </table>

  <categories-items items="$ctrl.items"></categories-items>
</div>
