body {
  font-size: 1.2em;
}

.error {
  color: red;
}

label {
  color: green;
  font-style: italic;
  margin-left: 5px;
}

.toBuyLsItmsTxtWidth {
  width: 150px;
}

.widthSmall {
  width: 25%;
}

.widthLarge {
  width: 100%;
}

.txtMiddleAlign {
  text-align: center;
}

.borders {
  border: solid 1px;
  border-radius: 11px;
  width: 89%;
  margin-bottom: 15px;
}

.nbrItmsShownTxt {
  color: darkviolet;
  font-weight: bold;
}
